
.ss-main .ss-single-selected .ss-arrow span {
    background-image: url(../img/arrow-green-full.svg);
    border: 0;
    width: 12px;
    height: 10px;
    background-size: contain;
    transform: rotate(0) !important;
    background-repeat: no-repeat;
}

.ss-main .ss-single-selected .ss-arrow span.arrow-up {  transform: rotate(180deg) !important;}
.ss-main .ss-single-selected{border-radius:5px}

.page-id-98 #ma_familleCritere{display:none}
#mon_type{display:none}
#ma_familleCritere h3{cursor:pointer;font-size: 12pt;margin:0}

#ma_familleCritere .ma_familleCritere.active h3 {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 15px;text-transform:uppercase;
}

#ma_familleCritere .ma_familleCritere{
	border-bottom: 1px solid #9fbf38;
	padding-bottom: 10px;
	margin-top: 10px;
}


#ma_familleCritere .ma_familleCritere label {
    position: relative;
    padding-left: 45px;
    min-height: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'ProximaNovaRegular';
    letter-spacing: 2px;
    line-height: 18px;
}

#ma_familleCritere .ma_familleCritere label > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ma_familleCritere .ma_familleCritere label span.label{width:calc(100% - 60px)}

#ma_familleCritere .ma_familleCritere label b {
    font-size: 16px;
    border: 1px solid #9fbf38;
    border-radius: 20px;
    color: #9fbf38;
    padding: 3px 0;
    font-weight: normal;
    margin-left: 10px;
    width: 30px;
    text-align: center;
}

#ma_familleCritere .ma_familleCritere label input {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
}

#ma_familleCritere .ma_familleCritere label span.case {
    position: absolute;
    left: 0;
    height: 30px;
    top: calc(50% - 15px);
    width: 29px;
    border: 1px solid #707070;
    border-radius: 3px;
}

#ma_familleCritere .ma_familleCritere label span.case::before {

	    content: "";
	    background-color: #9fbf38;opacity:0;
	    position: absolute;
	    width: 90%;
	    height: 90%;
	    top: 5%;
	    left: 5%;
	    border-radius: 3px;

	}
#ma_familleCritere .ma_familleCritere label input:checked + span::before{opacity:1}

.ss-main .ss-multi-selected {
    border-color: #707070;
    min-height: 55px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    background-image: url(../img/icon-select@2x.png);
    background-size: 11px auto;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
}
.ss-main .ss-multi-selected .ss-values .ss-disabled{font-style:italic;color:#707070}

.ss-main .ss-multi-selected .ss-values .ss-value{background-color:#9fbf38}


.ss-main .ss-multi-selected .ss-add{opacity:0}

#nbr_found {

    background-color:#9fbf38;

color:white;
    padding: 5px 0 5px 20px;
    border-radius: 3px;
    margin-bottom: 30px;

}
.vignette{background-color:#fafafa;margin-bottom: 10px;justify-content:space-between;position:relative}

.vignette .btn_plus,.vignette .btn_plus::after  {
z-index:1;
    width: 50px;
    height: 50px;
    position: absolute;

    right: 15px;
    top: 15px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.show_map {
    position: absolute;
    width: 110px;
    right: 0;
    top: -30px;
    background-image: url(../img/show_map.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 75px;cursor: pointer;
}
.owl-carousel.objets_lies .owl-stage{display:flex;align-items: stretch}

.vignette.carre .btn_plus{right:inherit;left:15px;top:185px}

.owl-carousel.objets_lies .vignette.carre{height:100%;padding-bottom:20px}


.owl-carousel.objets_lies .vignette.carre .barre_info {
    position: absolute;
    left: 20px;
    width: calc(100% - 40px);
    bottom: 0;
    flex-direction: column;
}


.owl-carousel.objets_lies .vignette.carre .barre_info > div:nth-child(2) {
    margin-top: 5px;
    justify-content: flex-end;
}

.owl-carousel.objets_lies .vignette.carre .text {
    height: calc(100% - 210px);display: block;
}

.vignette .btn_plus {
    border: 1px solid #9fbf38;
    border-radius: 100px;
    background-color: white;

}

.vignette .btn_plus::after  {
left:0;top:0;
    content: "";

    -webkit-mask-image: url(../img/picto-plus.svg);

    background-color: #9fbf38;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 12px;
}


.vignette .btn_plus:hover {
    border: 1px solid white;
    background-color: #9fbf38;

}
.vignette .btn_plus:hover::after {

    background-color: white;

}

.page-template-template_apidae .map_apidae{margin-bottom:10px}

.map_apidae .vignette.carre {width: 370px;}

.vignette.carre .img{width:100%;height:210px;max-width: inherit;}

.vignette .img{width:390px;background-color: #898989;position:relative;height: 220px;display: block;max-width: 40%;background-position:center;background-repeat:no-repeat;background-size:100px}

.vignette.HOTELLERIE .img,
.vignette.HEBERGEMENT_COLLECTIF .img,
.vignette.HEBERGEMENT_LOCATIF .img,
.vignette.HOTELLERIE_PLEIN_AIR .img{background-image:url(../img/oudormir.svg)}

.vignette.ACTIVITE .img{background-image:url(../img/activite.svg)}

.vignette.COMMERCE_ET_SERVICE .img{background-image:url(../img/service-commerce.svg)}

.vignette.RESTAURATION .img{background-image:url(../img/oumanger.svg)}

.vignette.PATRIMOINE_NATUREL .img{background-image:url(../img/patrimoinenaturel.svg)}

.vignette.PATRIMOINE_CULTUREL .img{background-image:url(../img/patrimoineculturel.svg)}

.vignette.FETE_ET_MANIFESTATION .img{background-image:url(../img/fete-manifestation.svg)}

.vignette .img span.price {
    background-color: white;
    position: absolute;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12.5px;
    right: 20px;
    bottom: 20px;
}

.vignette .text {
position:relative;
    width: calc(100% - 430px);
    padding: 20px 20px 20px 0;
    display: flex;
    align-items: center;
    font-size:16px;
  font-family:  ProximaNovaLight;
  line-height:18px;
min-width: calc(60% - 30px);
}


.vignette .text p {

  line-height:18px;

}

.vignette .tel,.vignette .itineraire {
    font-family: ProximaNovaSemiBold;
    color: #9fbf38;
    font-size: 15px;
    width: 90px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    display: block;
    line-height: 21px;
    margin-right: 20px;
}

.vignette .tel {
    background-image: url(../img/picto_tel_vert.svg);


}

.vignette .itineraire {
margin:0;
    background-image: url(../img/picto_itineraire.svg);

}

.vignette .web{background-image: url(../img/picto_site.svg);width:25px;height:25px;background-position: center;
background-repeat: no-repeat;
background-size: contain;display:block}

.vignette .fb{background-image: url(../img/picto_fb.svg);width:25px;height:25px;background-position: center;
background-repeat: no-repeat;
background-size: contain;display:block;margin-left: 15px;}

.vignette.carre .text {

    width: 100%;
    padding: 40px 20px 40px 20px;

}


.vignette h4.title{font-size:19px;font-family:ProximaNovaSemiBold;margin-bottom: 5px;line-height:22px}

.vignette .img img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    height: 100%;
    object-fit: cover;
    object-position: center;
    color: transparent;
}

.vignette span.categorie {color:#A5A5A5;text-transform:uppercase;font-size:13px;font-family: ProximaNovaExtra;display:block;margin: 0 0 5px !important;}

.vignette span.ville {text-transform:uppercase;font-size:13px;font-family:ProximaNovaSemiBold;display:block;margin-bottom: 5px;}

.vignette span.specialite {
    color: #A5A5A5;
    font-family: ProximaNovaSemiBold !important;
    display: block;
    margin-bottom: 5px;
    text-transform: initial !important;
}

.vignette span.prestataire {color:#9fbf38;font-family: ProximaNovaBold;display:block;margin-bottom: 5px;}


.single-incontournables .vignette .img .markerlabels,
.single-idees_sejours .vignette .img .markerlabels {
    display: block;
    transform: initial;
    position: absolute;
    right: -15px;
    top: 45px;
    padding-top: 5px;
}


.single-incontournables section.intro-page span.ville {
    font-size: 18px;
    text-transform: uppercase;
    font-family: ProximaNovaSemiBold, sans-serif;
    margin-bottom: 15px;
    display: block;
    background-image: url(../img/marker.png);
    background-size: 24px auto;
    background-repeat: no-repeat;
    padding: 2px 0 2px 32px;
    background-position: left center;
}



.markerlabels {
    background-image: url(../img/marker-label.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 27px;
    height: 36px;
    border-radius: 100px;
    transform: translate(-13px,-36px);
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: ProximaNovaBold;
    padding-top: 8px;
}
section#recherche_apidae{position:relative}

section#recherche_apidae .container-fluid {
    max-width: 1455px;
    left: -160px;
    position: relative;
}

.sidebar_recherche{width:290px}

.sidebar_resultat{width:calc(100% - 320px);position: relative;}

.sidebar_recherche h2{margin-bottom:20px}


.sidebar_recherche a.lien_page {
    text-transform: uppercase;
    font-family: ProximaNovaSemiBold;
    letter-spacing: 2px;
    display: block;
    border-bottom: 1px solid #9fbf38;
    padding: 10px 15px;
}

h3#titre_resultat {
    margin-top: 25px;
    height: 56px;
    color: #9fbf38;
    text-transform: initial;
    font-size: 22px;
    letter-spacing: 0;width:calc(100% - 120px);
}

h3#titre_resultat i{color:black;font-size:12px}

body.loading #recherche_apidae .sidebar_recherche,body.loading #recherche_apidae .sidebar_resultat{opacity:0.2}


#recherche_apidae .loader {
    display:none;
    background-image: url(../img/apidae_loader.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 140px;

}

body.loading #recherche_apidae  .loader{display:block}




.page-template-template_detail-apidae hr.green{border-top: 1px solid #a0c037;}


.page-template-template_detail-apidae h3.titre-detail {
    font-size: 17px;
    background-color: #a0c037;
    color: white;
    text-transform: uppercase;
    padding: 8px 15px 6px;
    margin: 0 0 20px;
    font-family: ProximaNovaSemiBold, sans-serif;
}


.page-template-template_detail-apidae .bloc-detail{padding-bottom:40px}



.page-template-template_detail-apidae ul.tarif {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-template-template_detail-apidae ul.tarif li {

    border-bottom: 1px solid #a0c037;
    padding: 15px 0;

}

.page-template-template_detail-apidae .mode_paiement{margin-top:20px}


.page-template-template_detail-apidae h4.soustitre-detail {
    font-size: 16px;
    text-transform: uppercase;
    font-family: ProximaNovaSemiBold;
    margin: 0;
}

.page-template-template_detail-apidae  ul.detail{padding-left:12px;margin:0 0 10px}
.page-template-template_detail-apidae ul.tarif h4{margin:0}

.page-template-template_detail-apidae ul.tarif span {
    font-size: 21px;
    background-color: #ADADAD;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    font-family: ProximaNovaBold;
    border-radius: 3px;
}



.page-template-template_detail-apidae h1{
    text-transform: uppercase;
    font-size: 24px;
    font-family: ProximaNovaExtra;
    letter-spacing: 2px;
    margin: 20px 0 0;
line-height: 30px;
}

.page-template-template_detail-apidae span.specialite {
    text-transform: uppercase;
    font-size: 16px;
    font-family: ProximaNovaBold;
}



.page-template-template_detail-apidae span.specialite span{font-size:12px;font-family: ProximaNovaRegular;}

.page-template-template_detail-apidae span.environnement {
    font-size: 13px;
    color: #5F5F5F;
    text-transform: uppercase;
    font-family: ProximaNovaSemiBold, sans-serif;display:block;
}

.page-template-template_detail-apidae span.environnement span {color:#A0BF38}


.page-template-template_detail-apidae .owl-carousel.apidae-gallery .owl-item img{height:330px;object-fit: cover;object-position: center}


.page-template-template_detail-apidae .owl-carousel.apidae-gallery .owl-thumbs{display:flex}

.page-template-template_detail-apidae .owl-carousel.apidae-gallery .owl-thumbs button {
    width: 75px;
    height: 40px;
    margin: 8px 8px 0 0;
    border: 0;
    background-color: #ADADAD;
    color: transparent;
    overflow: hidden;
    padding: 0;
}

.page-template-template_detail-apidae .owl-carousel.apidae-gallery .owl-dots{display:none}


.page-template-template_detail-apidae span.categorie {
    text-transform: uppercase;
    font-size: 16px;
    font-family: ProximaNovaExtra;
    color: #A5A5A5;
    margin: 10px 0 0;
    display: block;
}
.page-template-template_detail-apidae .description{margin-top:15px}

.page-template-template_detail-apidae .info-com {
    box-shadow: 0 0 15px rgba(0,0,0,0.16);
    margin: 40px 0 80px;
    padding: 0 30px 30px;
    font-size: 16px;
}



.page-template-template_detail-apidae  .info-com h3.titre-detail{margin:0 -30px 30px}

.page-template-template_detail-apidae .info-com .map {
    height: calc(100% + 60px);
    min-height: 318px;
    margin-top: -30px;
    width: calc(100% + 30px);
    margin-right: -30px;
}
.page-template-template_detail-apidae .info-com .map .map_apidae{height:100%;width:100%}

.page-template-template_detail-apidae b{font-family: ProximaNovaSemiBold, sans-serif;font-weight:normal}

.page-template-template_detail-apidae .call-action{margin-top: 40px;}

.page-template-template_detail-apidae .call-action a.tel,.page-template-template_detail-apidae .call-action a.itineraire {
    position: relative;
    display: block;
    background-color: #A0C138;
    font-size: 21px;
    font-family: ProximaNovaBold;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 50px;
    margin-right: 40px;
    min-width: 120px;text-align:center;

}


.page-template-template_detail-apidae .call-action a.itineraire{margin-right:0}

.page-template-template_detail-apidae .call-action a.tel::before,.page-template-template_detail-apidae .call-action a.itineraire::before {
    content: "";
    background-image: url(../img/picto_tel_vert.svg);
    position: absolute;
    left: -40px;
    top: 0;
    width: 27px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

.page-template-template_detail-apidae .call-action a.itineraire::before {
    background-image: url(../img/picto_itineraire.svg);

}


.page-template-template_detail-apidae .info-com a.tel,
.page-template-template_detail-apidae .info-com a.mail,
.page-template-template_detail-apidae .info-com a.fb,
.page-template-template_detail-apidae .info-com a.web,
.page-template-template_detail-apidae .info-com .adresse {
    padding: 0 0 0 40px;
    font-family: ProximaNovaSemiBold;
    color: #9fbf38;
    font-size: 18px;
    display: block;
    margin: 10px 0 0;position:relative;
}

.page-template-template_detail-apidae .info-com .adresse{color:black;font-family: ProximaNovaLight;}

.page-template-template_detail-apidae .info-com a.tel::before,
.page-template-template_detail-apidae .info-com a.mail::before,
.page-template-template_detail-apidae .info-com a.fb::before,
.page-template-template_detail-apidae .info-com a.web::before,
.page-template-template_detail-apidae .info-com .adresse::before {
    left:0;top:0;height:100%;width:25px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-mask-position: left center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    content:"";
    position:absolute;
}

.page-template-template_detail-apidae .info-com .adresse::before {

    background-position: left top;

}

.page-template-template_detail-apidae .info-com a.tel::before {background-image: url(../img/picto_tel_vert.svg);}
.page-template-template_detail-apidae .info-com a.mail::before {background-image: url(../img/picto_mail_vert.svg);}
.page-template-template_detail-apidae .info-com a.web::before {-webkit-mask-image: url(../img/picto_site.svg);background-color:#A0BF38}
.page-template-template_detail-apidae .info-com a.fb::before {-webkit-mask-image: url(../img/picto_fb.svg);background-color:#A0BF38}
.page-template-template_detail-apidae .info-com .adresse::before{background-image: url(../img/marker.svg);}

#show_criteres {
    border-bottom: 1px dashed #9fbf38;cursor:pointer;
}
#show_criteres::before {
    content: "";
    height: 20px;
    width: 20px;
    background-image: url(../img/icon-select@2x.png);
    background-size: 11px auto;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    transform: rotate(-90deg);
    display: inline-block;
}



.single-idees_sejours .onglet, .single-incontournables .onglet{opacity:0.1;  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms}

.single-idees_sejours h3.titre-detail,
.single-incontournables h3.titre-detail {
    font-size: 17px;
    background-color: #a0c037;
    color: white;
    text-transform: uppercase;
    padding: 8px 15px 6px;
    margin: 0 0 20px;
    font-family: ProximaNovaSemiBold, sans-serif;
    cursor:pointer;position:relative;
}

.single-idees_sejours h3.titre-detail::after,
.single-incontournables h3.titre-detail::after  {
  content: "";
position: absolute;
background-image: url(../img/arrow-accordeon.svg);
width: 10px;
height: 100%;
background-repeat: no-repeat;
background-position: center;
top: 0;
right: 20px;
background-size: contain;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.single-idees_sejours .collapse,
.single-incontournables .collapse{padding-bottom:60px}
.single-idees_sejours h3.titre-detail[aria-expanded=true]::after,
.single-incontournables h3.titre-detail[aria-expanded=true]::after{transform:rotate(180deg)}

.single-idees_sejours .map_apidae_2,
.single-incontournables .map_apidae_2{height:380px;margin-bottom: 60px;}

.single-idees_sejours section.header-title h2,
.single-incontournables section.header-title h2 {
    justify-content: center;
    color: white;
}

.single-idees_sejours section.intro-page,
.single-incontournables section.intro-page{margin-top:20px}

.single-idees_sejours section.intro-page img {
    height: 100%;
    object-fit: cover;width:100%;position:absolute;
}



.single-incontournables section.intro-page img {
    height: 100%;
    object-fit: cover;
    width: 100%;

    height: 298px;
}

.single-incontournables .galerie {
    padding: 80px 0;position:relative;
}

.single-incontournables .galerie::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 384px;
    bottom: 40px;
    background-color: #EFEEE9;
}

.single-incontournables .galerie .owl-carousel img{height:500px}

article.galerie .owl-carousel .owl-dots{display:none}


.objets_lies.owl-carousel  .owl-nav{margin-top:10px}

article.galerie .owl-carousel .owl-nav {
    margin-top: 0;
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
}

article.galerie .owl-carousel .owl-nav button.disabled,
.objets_lies.owl-carousel .owl-nav button.disabled{opacity:0.2}


article.galerie .owl-carousel .owl-nav button.owl-next,
article.galerie .owl-carousel .owl-nav button.owl-prev,
.objets_lies.owl-carousel .owl-nav button.owl-next,
.objets_lies.owl-carousel .owl-nav button.owl-prev{
    background-color: #FFFFFF;
    color: #FFF;
    width: 37px;
    height: 37px;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.16);
    position: relative;
}
article.galerie .owl-carousel .owl-nav button.owl-next:before,
article.galerie .owl-carousel .owl-nav button.owl-prev:before,
.objets_lies.owl-carousel .owl-nav button.owl-next:before,
.objets_lies.owl-carousel .owl-nav button.owl-prev:before {
    content: "";
    width: 10px;
    height: 19px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
article.galerie .owl-carousel .owl-nav button.owl-prev:before,
.objets_lies.owl-carousel .owl-nav button.owl-prev:before {
    background: transparent url(../img/arrow-left-slider.png) no-repeat scroll center center / 10px auto;
}
article.galerie .owl-carousel .owl-nav button.owl-next:before,
.objets_lies.owl-carousel  .owl-nav button.owl-next:before {
    background: transparent url(../img/arrow-right-slider.png) no-repeat scroll center center / 10px auto;
}

.single-idees_sejours section.intro-page p,
.single-incontournables section.intro-page p {
    font-size: 17px;
}

.single-idees_sejours section.intro-page p {
    font-family: 'ProximaNovaSemiBold';

}

.single-incontournables section.intro-page strong {
    font-family: 'ProximaNovaSemiBold';

}

.single-idees_sejours h1,
.single-incontournables h1 {
    font-family: 'NexaRustSans', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.100em;
    margin: 0 0 20px;
}

.single-idees_sejours section.intro-page p:last-child,
.single-incontournables section.intro-page p:last-child{margin-bottom:0}

.single-idees_sejours article.intro_etape {
    margin-top: 50Px;
    padding-top: 50px;
    position: relative;
    margin-bottom: 50px;
}
.single-idees_sejours article.intro_etape::before {
    content: "";
    background-color: #EFEEE9;
    position: absolute;
    height: 180px;
    width: 100%;
    top: 0;
}

.single-idees_sejours article.intro_etape img.img-etape {
    height: 330px;
    object-fit: cover;
    width: 100%;
}

.single-idees_sejours article.intro_etape h2 {
    font-family: "ProximaNovaRegular";
    text-transform: uppercase;
    display: block;
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 28px;letter-spacing:0;
    font-family: NexaRustSansDamaged;
}

.single-idees_sejours article.intro_etape h2 span {
    color: #A0C038;
    text-transform: initial;
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "ProximaNovaRegular";
}

.single-idees_sejours article.intro_etape h3.day{
    position: absolute;
    background-color: #265F2D;
    width: calc(100% - 20px);
    color: white;
    font-family: 'NexaRustSans', sans-serif;
    font-size: 28px;
    padding: 5px 25px;
}

.single-idees_sejours article.intro_etape .temps_de_route {
    background-image: url(../img/picto-time-road.svg);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 18px;
    margin: 30px 0 0;
    background-position: left center;
}

.single-idees_sejours article.intro_etape .temps_de_route b{font-family: 'ProximaNovaSemiBold';}



@media(max-width:1770px){
section#recherche_apidae .container-fluid {
    max-width: 100%;
    left: 0;
    position: static;
}
}

@media(max-width:991px){

  .single-idees_sejours section.intro-page img{height:298px;position:relative}

  .single-idees_sejours article.intro_etape {
    margin-top: 40Px;

    margin-bottom: 20px;
}

  .single-idees_sejours section.intro-page p:last-child,
  .single-incontournables section.intro-page p:last-child {
    margin-bottom: 15px;
}

.single-idees_sejours article.intro_etape h2 {margin-bottom: 30px;}

  .single-idees_sejours section.intro-page,
  .single-incontournables section.intro-page{margin-top:0}

  .single-idees_sejours article.intro_etape h3.day{width: calc(100% - 30px);}

  #nbr_found  {
    background-color: transparent;
    color: #B4B4B4;
    font-size: 17px;
    font-family: ProximaNovaSemiBold;
    letter-spacing: 2px;
    padding: 0;
    display: inline-block;margin:0;
  }

  h3#titre_resultat {
    background-color: transparent;
    color: #B4B4B4;
    font-size: 17px;
    font-family: ProximaNovaSemiBold;
    letter-spacing: 2px;
    margin: 0;
    height: inherit;
    display: inline-block;width: auto;
  }

  h3#titre_resultat::after{content:" : "}

  .page-template-template_detail-apidae .call-action a.tel {margin-right: 30px;}

  .page-template-template_detail-apidae .bloc-detail.bloc_detail_accordeon{display:none}
  .page-template-template_detail-apidae .call-action{margin: 30px 0;}
  .page-template-template_detail-apidae .owl-carousel.apidae-gallery .owl-thumbs{display:none}
  .page-template-template_detail-apidae .info-com .map {
      height: 100%;
      margin-top: 30px;
      width: calc(100% + 60px);
      margin-left: -30px;
  }

  .page-template-template_detail-apidae h3.titre-detail.accordeon_close,
  .page-template-template_detail-apidae h3.titre-detail.accordeon_open{
    position:relative;cursor:pointer;
  }
  .page-template-template_detail-apidae h3.titre-detail.accordeon_close::after,
  .page-template-template_detail-apidae h3.titre-detail.accordeon_open::after{
    content:"";
    position:absolute;
    top:0;height:100%;right:15px;width:25px;
    background-image:url(../img/arrow-accordeon.svg);
    background-size:contain;background-position:center;
    background-repeat: no-repeat;
  }

  .page-template-template_detail-apidae h3.titre-detail.accordeon_open::after{
    transform:rotate(180deg);
  }
  .sidebar_resultat{width:100%;margin-top:10px}
  .sidebar_recherche{width:100%;position: relative;}

  #ma_familleCritere .ma_familleCritere label{margin:5px;
    width: calc(50% - 10px);

padding-left:25px;

    font-size: 14px;

    letter-spacing: 0px;
    line-height: 16px;
  }

  #ma_familleCritere .ma_familleCritere label span.case {

    height: 20px;
    top: calc(50% - 10px);
    width: 20px;

}
  #ma_familleCritere .ma_familleCritere,
  .sidebar_recherche a.lien_page{display:none}

  #ma_familleCritere .ma_familleCritere label b {
    font-size: 14px;
    border: 0;

    padding: 0;

    margin-left: 10px;
  }

  .sidebar_resultat #liste {
    margin-top: 15px;
    border-top: 1px solid #C3C3C3;
    padding-top: 15px;
  }

  .show_map {


    top: -60px;

  }

  .single-incontournables .galerie .owl-carousel img{height:250px}

  section#recherche_apidae .container-fluid{max-width: 720px;}
}

@media(max-width:767px){

  #ma_familleCritere .ma_familleCritere label{width:100%;margin:5px 0}

  .vignette .img {
    width: 90px;

    height: 90px;

  }

  .vignette .text {

    width: calc(100% - 110px);
    padding: 0;

  }

  .vignette {
    background-color: transparent;
    margin-bottom: 15px;

    border-bottom: 1px solid #C3C3C3;
    padding-bottom: 15px;
  }

  .vignette .tel {
    overflow: hidden;
    width: 30px;
    color: transparent;
    background-position: left center;
    margin-right: 20px;
  }

  .vignette .itineraire {
    padding: 0 0 0 25px;
  background-position: left center;
  }

  .vignette .btn_plus{border:0 !important;background-color:transparent !important;top:0;right:0}

  .vignette .btn_plus::after  {content: "...";-webkit-mask-image: none;background-color: transparent;right: 0;top: 0;text-align: right;font-size: 20px;font-family: ProximaNovaSemiBold;line-height: 13px;}

  .vignette h4.title {
    font-size: 16px;
margin:0;
    line-height: 18px;
  }

  .vignette span.categorie{margin:0 !important}
  .ss-main .ss-multi-selected{min-height:35px}
}


@media(max-width:575px){
  .page-template-template_detail-apidae .call-action a.tel, .page-template-template_detail-apidae .call-action a.itineraire {font-size: 15px;margin-right: 0;min-width:110px}
  .page-template-template_detail-apidae .call-action{justify-content: space-between;}
  .page-template-template_detail-apidae .call-action {
    margin: 0 0;
  }
  .page-template-template_detail-apidae .info-com {margin: 30px 0 50px}

  .page-template-template_detail-apidae span.categorie {font-size: 13px;margin: 7px 0 7px;line-height: 15px;}
  .page-template-template_detail-apidae h1 {
    font-size: 17px;
    line-height: 20px;
}

  .page-template-template_detail-apidae .description p {
    font-size: 14px;
    line-height: 17px;
  }
  .page-template-template_detail-apidae h3.titre-detail,.page-template-template_detail-apidae .info-com,
  .page-template-template_detail-apidae .info-com a.tel,
  .page-template-template_detail-apidae .info-com a.mail,
  .page-template-template_detail-apidae .info-com a.fb,
  .page-template-template_detail-apidae .info-com a.web,
  .page-template-template_detail-apidae .info-com .adresse,
  .page-template-template_detail-apidae h4.soustitre-detail{font-size:15px}
  .page-template-template_detail-apidae .bloc-detail {padding-bottom: 20px;}
  .page-template-template_detail-apidae .info-com .map {min-height: 190px;}
  .page-template-template_detail-apidae .owl-carousel.apidae-gallery{margin-top:30px}
  .page-template-template_detail-apidae span.environnement{margin-bottom:20px}




}
